/********************* VARIABLES FILE *********************/

// H1 - H6 Colors
$headerColor: #2F5E70;

// Navigation Colors (Background on Mobile, Color on Larger Screens)
$navigationColor: #FFBAA3;

// Links & Button Background Colors
$buttonColor: #039D9A;
$linkColor: #B8582C;

// Content Backgrounds
$footerColor: #74AAA1;
$mainContainerColor: #FFE9AD;
$commentsColor: #E3ECC2;