/********************* FOOTER *********************/

.pageFooter {
	background: $footerColor;

	li {list-style: none;}

	a { color: darken($footerColor, 30%); }
	h2 {color: lighten($footerColor, 30%); }
}

.copyrightContainer {
	font-size: 0.8em;
}

@media all and (min-width: 700px) {
	.footerSection {
		float: left;
		width: 30%;
		padding: 1em 0;
	}

	.footerSection.middleSection {
		width: 40%;
		padding: 1em 5%;
	}
}